/*! purgecss start ignore */
.principal {
    --color-primary-dark: #2a4365;
    --color-primary: #3182ce;
    --color-primary-light: #90cdf4;
}

.robustwealth {
    --color-primary-dark: #44337a;
    --color-primary: #805ad5;
    --color-primary-light: #d6bcfa;
}

/*! purgecss end ignore */